/* Estilos para la cabecera y los botones en esquema de blanco y negro */
header {
    background-color: #fff; /* Fondo blanco para la barra */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    margin: 0 10px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button {
    background-color: #000; /* Fondo negro para los botones */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff; /* Texto blanco para los botones */
}

.button:hover {
    background-color: #333; /* Fondo gris oscuro al pasar el cursor */
}

/* Estilos para el componente Jumbo en esquema de blanco y negro */
.jumbo {
    background-image: url('../img/jumbo-background.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Texto blanco */
}

.jumbo-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente negro para el contenido del Jumbo */
}

.jumbo-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.jumbo-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

footer {
    background-color: #fff; /* Fondo blanco para el pie de página */
    padding: 20px;
    text-align: center;
    color: #000; /* Color del texto */
    position: fixed;
    width: 100%;
    bottom: 0;
}

.custom-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.custom-button:hover {
    background-color: #333;
}