/* Estilos para la cabecera y los botones en modo oscuro */
header {
    background-color: #333; /* Color oscuro para la barra */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    margin: 0 10px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
}

.button {
    background-color: #555; /* Color oscuro para los botones */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #777; /* Color oscuro más claro al pasar el cursor */
}

/* Estilos para el componente Jumbo en modo oscuro */
.jumbo {
    background-image: url('../img/jumbo-background.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Asegúrate de que el texto sea legible contra la imagen de fondo */
}

.jumbo-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente claro para el contenido del Jumbo */
}

.jumbo-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.jumbo-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
body {
    background-color: #302f2f;
    color: white;

}

footer {
    background-color: #333; /* Color oscuro para el pie de página */
    padding: 20px;
    text-align: center;
    color: #ccc; /* Color claro para el texto */
    position: fixed;
    width: 100%;
    bottom: 0;
}

.custom-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.custom-button:hover {
    background-color: #777;
}